.hello {  
  text-align: center; 

}
 
nav {  
   background-color: antiquewhite; 
   padding-top: 10px; 
   padding-bottom: 10px;
} 
 
nav a {    
  text-shadow: 1px 1px 1px rgb(76, 0, 255);
  padding-left: 25px; 
  padding-right: 25px;
  text-decoration: none;  
  color:darkcyan; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} 
 
nav a:hover{ 
   background-color: darkcyan; 
   font-size: 20px; 
   text-shadow: 2px 2px 2px rgb(0, 0, 0);

} 
  
::-webkit-scrollbar-thumb{ 
  background: white;

}

.website-page-size { 
  width: 800px; 
  height: 400px;    
  display: block;
  margin: 0 auto;

}    

  
.clipartme {  
 
  display: inline;
  width: 250px; 
  height: 400px;        
 float: right;
 margin-right: 200px; 
 
    

} 
.LIFE { 
  padding-bottom: 10px; 
  font-size: 50px;   
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-size: cover;
  color: white;    
  text-align:  center;

}
.heading2 {  
  display: inline; 
  font-size: 50px;   
  text-align: left;  
  margin-inline-end: 1300px; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;  
} 
.body1 {  
   
  font-size: 25px;   
  text-align: left;  
  margin: 30px; 
  margin-right: 1250px; 
  font-family: 'Times New Roman', Times, serif;
  color: white;   
}
.heading3 {   
    display: inline;
    font-size: 50px;   
    text-align: right;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.heading {  
  padding-bottom: 10px; 
  font-size: 50px;   
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-size: cover;
  color: white;
} 
.about-me { 
   
  padding-bottom: 250px;   

}