@media screen and (max-width: 600px) { 
  .clipartme {  
    display: none;
    width: 250px; 
    height: 400px;        
   float: none;
   margin-right: 200px; 
  }   
  .body1 {  
   
    font-size: 25px;   
    text-align: none;  
    margin: 30px; 
    margin-right: 1250px; 
    font-family: 'Times New Roman', Times, serif;
    color: white;   
  }  
  .heading2 {  
    display: none; 
    font-size: clamp(1px,20vw, 50px);   
    text-align: none;  
    margin-inline-end: none; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;  
  } 
}
  
    
.hello {  
  text-align: center; 

}
 
nav {  
   background-color: antiquewhite; 
   padding-top: 10px; 
   padding-bottom: 10px;
} 
 
nav a {    
  text-shadow: 1px 1px 1px rgb(76, 0, 255);
  padding-left: 25px; 
  padding-right: 25px;
  text-decoration: none;  
  color:darkcyan; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} 
 
nav a:hover{ 
   background-color: darkcyan; 
   font-size: 20px; 
   text-shadow: 2px 2px 2px rgb(0, 0, 0);

} 
  
::-webkit-scrollbar-thumb{ 
  background: white;

}

.website-page-size { 
  width: clamp(400px, 10vw, 800px); 
  height: clamp(200px, 10vw, 400px);   
  display: block;
  margin: 0 auto;

}    

.clipartme {  
  display: inline;
  width: 250px; 
  height: 400px;        
 float: right;
 margin-right: 200px; 
} 
.LIFE { 
  padding-bottom: 10px; 
  font-size: 50px;   
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-size: cover;
  color: white;    
  text-align:  center;

}
.heading2 {  
  display: inline; 
  font-size: (10px, 10vw, 50px);   
  text-align: left;  
  margin-inline-end: 1300px; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;  
} 
.body1 {  
   
  font-size: 25px;   
  text-align: left;  
  margin: 30px; 
  margin-right: 1250px; 
  font-family: 'Times New Roman', Times, serif;
  color: white;   
}
.heading3 {   
    display: inline;
    font-size: clamp(5px, 10vw, 50px);   
    text-align: right;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.heading {  
  padding-bottom: 10px; 
  font-size: clamp(10px, 10vw, 50px);   
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-size: cover;
  color: white;
} 
.about-me { 
   
  padding-bottom: 250px;   

}